body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

.card {
    margin-top: 20px;
    border-radius: 15px;
}

.card-body {
    text-align: center;
}

#weatherIcon {
    margin-bottom: 20px;
}

#tempValue {
    font-size: 3rem;
}

#searchHistory {
    margin-top: 20px;
}

#searchHistory h3 {
    font-size: 1.5rem;
}

.list-group-item {
    cursor: pointer;
}
